body {
	background-color: #eaeaea;
}

button {
	width: 50px;
	height: 50px;
	background-color: rgb(219, 219, 219);
	font-size: 30px;
	text-align: center;
	border: solid black 1px;
}

#eq {
	background-color: rgb(0, 138, 219);
}

#pool {
	width: 210px;
	height: 50px;
	border: solid black 1px;
	background-color: rgb(231, 145, 255);
}

#fun {
	background-color: #00c3d8;
}

/*
#calc {
	background-color: #bfbfbf;
} */