body {
	//background-image: url(img/YRitalicShadowV2.png);
	background-color: #212121;
}

#header	{
	height: 200px;
	width: 100%;
	text-align: center;
	background-color: #ffa784;
	font-size: 150px;
	font-family: fantasy;
	border: solid black 1px;
	border-radius: 50px;
	font-variant: small-caps;
	color: #7000ad;
}
  
#click {
	font-family: fantasy;
	border: solid black 1px;
	background-color: #ffa784;
	margin-left: 40%;
	margin-right: 40%;
	color: black;
}

#wrapper {
	position: relative;
}

#bnb-logo {
	height: 200px;
	width: 300px;
	border-radius: 30px;
	/*margin-top: 20px;*/
	margin-left: 20px;
	border: solid purple 3px;
}

#bnb-name {
	//margin-left: 1%;
	font-size: 40px;
	font-family: Verdana;
	color: #ff8282;
	//border: solid black 1px;
}

#bnb {
	float: left;	
}

#paint {
	//float: right;
	margin-top: 60px;
	margin-left: 25%;
}

#git {
	font-size: 40px;
}

#hr {
	margin-top: 250px;
}

footer {
	color: #ff8282;
	font-size: 40px;
}
