body {
	background-color: #afafaf;
}

#header	{
	height: 200px;
	width: 100%;
	text-align: right;
	background-color: #ffa784;
	font-size: 150px;
	font-family: fantasy;
	border: solid black 1px;
	border-radius: 50px;
	font-variant: small-caps;
	color: #7000ad;
}

#bnb-logo {
	height: 200px;
	width: 300px;
	border-radius: 30px;
	/*margin-top: 20px;*/
	margin-left: 20px;
	border: solid purple 3px;
}

#bnb-name {
	//margin-left: 1%;
	font-size: 40px;
	font-family: Verdana;
	color: #5d00ff;
	//border: solid black 1px;
}

#git {
	font-size: 40px;
}

footer {
	color: #3b00bc;
	font-size: 40px;
}
